.selectMood {
  z-index: 1000;
  background: #fff;
  position: absolute;
  display: flex;
  justify-content: space-around;
  padding: 80px 10px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0%;
  animation-name: moveUp;
  animation-duration: 0.2s; /* or: Xms */
  animation-direction: alternate; /* or: normal */
  animation-timing-function: linear; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: forwards;
}

@keyframes moveUp {
  0% {
    left: 0;
    right: 0;
    bottom: 0;
  }
  100% {
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
  }
}

.moodColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.moodColumn:nth-child(2n + 1) {
  padding: 40px 0;
}

.pointPanelWrapper {
  color: #fff;
  z-index: 1000;
  background: lightsalmon;
  position: absolute;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

.pointPanel {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.levelsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
